body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row{
	padding-top: 50px;
}

a.link{
	margin: 20px 0;
	display: block;
}

.byline{
	margin-top: 20px;
	font-size: 12px;
}